# Integer = Bilangan Bulat

In [1]:
print(1000000000000)

1000000000000

In [2]:
print(type(3))

<class 'int'>

# Float

In [3]:
print(3.5)
print(2.3)

3.5
2.3

In [4]:
print(type(2.3))

<class 'float'>

In [5]:
print(4.2e-4)

0.00042

In [6]:
print(type(4.2e7))

<class 'float'>

# String

In [7]:
print("Nama Saya adalah Fachri")

Nama Saya adalah Fachri

In [8]:
print('Budi bermain bola')

Budi bermain bola

In [9]:
print(type('Budi bermain bola'))

<class 'str'>

# Boolean

In [10]:
True
False

False

In [11]:
print(True)

True

In [12]:
print(False)

False

In [13]:
print(type(True))

<class 'bool'>

Ada 4 data types yang paling sering digunakan"
- Integer
- Float
- String
- Boolean

# Variable Assignment

In [14]:
angka = 300
print(angka)
print(type(angka))
print(type(300))

300
<class 'int'>
<class 'int'>

In [15]:
teks = 'haha'
print(teks)
print(type(teks))

haha
<class 'str'>

In [16]:
a = b = c = 300
print(a,b,c)

300 300 300

In [17]:
print(type(b))

<class 'int'>

In [19]:
rumah = 'Bekasi'
Rumah = 'Jakarta'

In [20]:
print(rumah, Rumah)

Bekasi Jakarta

ctrl + / untuk comment

# Nama variabel tidak diperbolehkan dimulai dengan angka
# 0_Rumah='a'

# rumah = 'budi'

In [21]:
print(rumah)

Bekasi

# Arithmetic Operators

In [22]:
a = 10
b = 20
print(a+b)

30

In [23]:
# Pengurangan
print(a-b)

-10

In [24]:
# Perkalian
print(a*b)

200

In [25]:
# Pembagian
print(a/b)
print(a//b)
print(3/2)
print(3//2)
print(type(3/2))
print(type(3//2))

0.5
0
1.5
1
<class 'float'>
<class 'int'>

In [26]:
# Modulo (%)
print(7/2)
print(7%2)
print(11%2)
print(10%2)

3.5
1
1
0

In [27]:
# Pangkat (**)
print(7**2)
print(2**2)

49
4

# Quiz 1 30 derajat celsius ke fahrenheit

In [28]:
c = 30
f = c *
print(f)

SyntaxError: invalid syntax (1958762358.py, line 1)

# Comparison Operators

In [29]:
c = 10
d = 30
e = 10
f = 20

In [30]:
rumah1= 'bekasi'
rumah2 = 'jakarta'
rumah3='jakarta'

In [31]:
# Persamaan (==)
print(c==d)
print(c==e)
print(rumah2==rumah3)

False
True
True

In [32]:
# Lebih dari atau kurang dari
print(c>d)
print(c<d)
print(c>=d)
print(c<=d)
print(c<=e)
print(c>=e)

False
True
False
True
True
True

In [33]:
# TIdak sama dengan / Not Equal (!=)
print(c!=d)
print(c!=e)
print(rumah1!=rumah2)

True
False
True

# String Manipulation

In [34]:
# Operator +
s = 'foo'
t = 'bar'
u = 'baz'

print(t+s)

print(s+t+u)

barfoo
foobarbaz

In [35]:
# Operator *
print(s*10)

foofoofoofoofoofoofoofoofoofoo

In [36]:
# Operator in
a='buah'
print(a in 'Saya mau beli buah')
print(a in 'Saya mau beli singkong')

True
False

In [37]:
# upper
a = 'buah'
print(a.upper())

BUAH

In [38]:
b = 'BUAH'
print(b.lower())

buah

In [39]:
c = 'sAyAc'
print(c.capitalize())

Sayac

In [40]:
d = 'SAya mAu Makan'
print(d.capitalize())
print(d.title())
print(d.swapcase())

Saya mau makan
Saya Mau Makan
saYA MaU mAKAN

# Python Lists

In [41]:
a = ['saya','mau','makan']
c = ['makan','mau','saya']

In [42]:
print(a)

['saya', 'mau', 'makan']

In [43]:
b = ['saya',1,True,3.7]
print(b)

['saya', 1, True, 3.7]

In [44]:
print(a==c)

False

# Indexing dan Slicing

In [45]:
# List can be accessed by Index
a = ['foo','bar','baz','qux','quux','corge']
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [46]:
# Indexing
print(a[0])
print(a[3])

foo
qux

In [47]:
print(a[-6])

foo

In [48]:
print(a[-6]==a[0])

True

In [49]:
x = 'budi'
print(x[-1])

i

# Prinsip Slicing = [start:stop:step]

In [50]:
# Slicing
a = ['foo','bar','baz','qux','quux','corge']
print(a[0:6])
print(a[1:])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['bar', 'baz', 'qux', 'quux', 'corge']

In [51]:
x = 'budi'
print(x[1:3])
print(x[1:])

ud
udi

In [52]:
y = 'Jaka Tingkir Suryanegara'
print(y[::-1])

aragenayruS rikgniT akaJ

# QUIZ 2

a = komitmen

In [54]:
str = 'komitmen'
print(str[3])
print(str[1:4])
print(str[4:])
print(str[::2])
print(str[0]+str[2]+str[4]+str[7])

i
omi
tmen
kmte
kmtn

In [56]:
print(a[0:5:2]+a[a.index('n')])

ValueError: 'n' is not in list

# Modify List values based on its index

In [57]:
a = ['foo','bar','baz','qux','quux','corge','quux']
a[a.index('qux')] = 20

In [58]:
# del command
del a[a.index('quux')]
print(a)

['foo', 'bar', 'baz', 20, 'corge', 'quux']

In [59]:
print(a)

['foo', 'bar', 'baz', 20, 'corge', 'quux']

In [60]:
a = ['foo','bar','baz','qux','quux','corge','quux']
a[0:3] = [1,2,3]
print(a)

[1, 2, 3, 'qux', 'quux', 'corge', 'quux']

# Tuple

In [61]:
t = ('foo','bar','baz','qux','quux','corge','quux')
print(type(t))

<class 'tuple'>

# Dictionary

In [66]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

In [67]:
print(MLB_team['Colorado'])
print(MLB_team['Boston'])

Rockies
Red Sox

In [68]:
# Assign Kota Baru
MLB_team['Kansas City'] = 'Royals'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [69]:
#Update Tim Kota
MLB_team['Seattle'] = 'Seahawks'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [70]:
# del command
del MLB_team['Colorado']
print(MLB_team)

{'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [71]:
orang = {}
print(type(orang))

<class 'dict'>

In [72]:
orang['Nama'] = 'Budi'
orang['Kota'] = 'Solo'
orang['Umur'] = 32
orang['Anak'] = ['Budi','Sarah','Syifa']
orang['Kendaraan'] ={'mobil':'Innova','motor':'mio'}
orang

{'Nama': 'Budi',
 'Kota': 'Solo',
 'Umur': 32,
 'Anak': ['Budi', 'Sarah', 'Syifa'],
 'Kendaraan': {'mobil': 'Innova', 'motor': 'mio'}}

In [73]:
print(orang['Kendaraan']['motor'])

mio

In [74]:
print(orang['Anak'][0:2])

['Budi', 'Sarah']

# Line Continuation

In [75]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(False and False)
print(False or False)

True
False
True
True
False
False

In [76]:
umur1 = 42
umur2 = 16
umur3=71

print(umur1>=18 and umur1<=65)
print(umur2>=18 and umur2<=65)
print(umur3>=18 and umur3<=65)

True
False
False

In [77]:
print((umur1>=18 and umur1<=65) or (umur2>=18 and umur2<=65) or (umur3>=18 and umur3<=65))

True

# Materi Tambahan

In [78]:
mobil = ['Toyota','Kijang']
mobil = mobil + ['Isuzu']
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [79]:
mobil = ['Toyota','Kijang']
mobil.append('Isuzu')
print(mobil)

['Toyota', 'Kijang', 'Isuzu']

In [80]:
kendaraan = mobil.copy()
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu']

In [81]:
kendaraan.append('Innova')
kendaraan.append('Innova')

print(kendaraan)
print(mobil)

['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']
['Toyota', 'Kijang', 'Isuzu']

In [82]:
print(kendaraan)

['Toyota', 'Kijang', 'Isuzu', 'Innova', 'Innova']

In [83]:
kendaraan.remove('Innova')